.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .autopic1{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    transform: translate(0vw);
    animation: slider1 5s  1s forwards;
    
}
.autopic2{
    transform: translate(0vw);
    animation: slider2 5s 2s forwards;
}
.autopic3{
    transform: translate(-66vw);
    animation: slider3 5s 4s forwards;
    
}
.autopic4{
    transform: translate(-160vw);
    animation: slider4 5s 6s forwards;
   
}
.autopic5{
    transform: translate(-245vw);
    animation: slider5 5s 8s forwards;
   
}
.autopic6{
    transform: translate(-330vw);
    animation: slider6 5s 10s forwards;
    
}
.autopic7{
    transform: translate(-452vw);
    animation: slider7 5s 12s forwards;
    
}

@keyframes slider1{
    0%{
        transform: translate(0vw);
    }
    100%{
        transform: translate(-108vw);
    }
}

@keyframes slider2{
    0%{
        transform: translate(0vw);
    }
    50%{
        transform: translate(-105vw);
    }
    100%{
        transform: translate(-209vw);
    }
}

@keyframes slider3{
    0%{
        transform: translate(-66vw);
    }
    50%{
        transform: translate(-209vw);
    }
    100%{
        transform: translate(-313vw);
    }
} 
@keyframes slider4{
    0%{
        transform: translate(-160vw);
    }
    50%{
        transform: translate(-314vw);
    }
    100%{
        transform: translate(-417vw);
    }
} 
@keyframes slider5{
    0%{
        transform: translate(-245vw);
    }
    50%{
        transform: translate(-417vw);
    }
    100%{
        transform: translate(-521vw);
    }
} 
@keyframes slider6{
    0%{
        transform: translate(-330vw);
    }
    50%{
        transform: translate(-521vw);
    }
    100%{
        transform: translate(-626vw);
    }
} 
@keyframes slider7{
    0%{
        transform: translate(-452vw);
    }
    50%{
        transform: translate(-626vw);
    }
    100%{
        transform: translate(-730vw);
    }
}  */

@media  screen and (min-width: 700px) {
    body{
        footer .out1 .out2 a{
            text-decoration: none;
        }
        footer .out1 .out2 a:hover{
            text-decoration: underline;
        }
    }
}


/* this is the trial */

.slider{
    /* width:20%;
    height:20%; */
    overflow: hidden;
}
.slider .pictures .pics{
    position: relative;
    width: 500%;
    margin:0;
    left:0;
    animation: 20s slider infinite;
}

.slider .pictures .pics img{
    float:left;
    width: 20%;
}
@keyframes slider{
    0%{
        left:0%;
    }
    20%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
}

